<div class="filter-container">
    <div class="filter-selected">
        <mat-form-field class="autocomplete-container" [floatLabel]="'never'">
            <mat-chip-list #selectedTagsChipList class="selected-chip-list-wrapper">
                <mat-chip class="selected-tag-chip" *ngFor="let tag of selectedVisibleTags" [removable]="removable" (click)="deselectTag(tag)" (removed)="deselectTag(tag)">
                    {{tag.value}}
                    <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
                <input matInput placeholder="" class="autocomplete-input" type="text" aria-label="Number" [matChipInputFor]="selectedTagsChipList" [matChipInputAddOnBlur]="addOnBlur" [formControl]="myControl" [matAutocomplete]="auto" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete class="autocomplete" #auto="matAutocomplete" (optionSelected)="onAutocompleSelected()">
                <mat-option class="autocomplete-option" *ngFor="let option of filteredOptions async" [value]="option">
                    {{option.value}}
                </mat-option>
            </mat-autocomplete>
        </mat-form-field>
        <button mat-button class="small-button search" (click)="search()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="filter-to-select">
        <div class="chip-list" #filterSelector (scroll)="onScroll()">
            <div class="chip tag" *ngFor="let tag of tags; let i = index" (click)="selectTag(target,tag)">
                <div class="tag-name">
                    <p>{{tag.value}}</p>
                </div>
            </div>
        </div>
        <button *ngIf="scrollLeft" (click)="scroll('right')" mat-button class="small-button left filter-shadow-left">
            <mat-icon>chevron_left</mat-icon>
        </button>
        <button *ngIf="scrollRight" (click)="scroll('left')" mat-button class="small-button right filter-shadow-right">
            <mat-icon>chevron_right</mat-icon>
        </button>
    </div>
</div>