.filter-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.filter-container .filter-selected {
    min-height: 48px;
    white-space: nowrap;
    display: flex;
}

.filter-container .filter-to-select {
    white-space: nowrap;
    position: absolute;
    top: 60px;
    width: 100%;
}

.chip-list {
    display: block;
    overflow-x: auto;
}

.chip {
    display: inline-block;
    width: auto;
}

.chip p {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag {
    color: white;
    background-color: #ffc107;
    cursor: pointer;
    min-height: 40px;
    min-width: 20px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 400;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 10px;
}

.tag.last-selected {
    background-color: #455a64;
}

.tag .tag-name {
    display: flex;
}

.tag .tag-name .material-icons {
    margin-top: 10px;
}

.autocomplete-container {
    width: 100%;
}

input.mat-chip-input {
    width: 100%;
}

.autocomplete-input {
    color: #263238;
    background: white;
    flex: 1;
    margin-left: 10px;
    border: 0;
    height: 100%;
    min-height: 30px;
    line-height: 20px;
    font-size: 15px;
}

.autocomplete-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #263238;
    opacity: 0.6;
    /* Firefox */
}

.autocomplete-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #263238;
    opacity: 0.6;
}

.autocomplete-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #263238;
    opacity: 0.6;
}

.small-button {
    color: black;
    width: 40px;
    min-width: 40px;
    padding: 0;
    height: 40px;
}

.small-button.right mat-icon,
.small-button.left mat-icon {
    position: absolute;
    top: 4px;
    font-size: 30px;
    color: white;
}

.small-button.right mat-icon {
    left: 12px;
}

.small-button.left mat-icon {
    right: 12px;
}

.small-button.search {
    margin-top: 14px;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #ffc107;
}

.selected-chip-list-wrapper {
    width: 100%;
    background-color: white;
}

.selected-tag-chip {
    font-size: 15px;
}

.filter-shadow-left,
.filter-shadow-right {
    position: absolute;
    top: 0;
    height: 40px;
}

.filter-shadow-left {
    left: -1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&1+0,0+100;White+to+Transparent */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000', GradientType=1);
}

.filter-shadow-right {
    right: -1px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000', GradientType=1);
    /* IE6-9 */
}