<div class="dialog">
    <button [ngClass]="[largeCommandButtons ? 'large' : 'small', commandVisibility]" class="command close" (click)="close()" mat-button>
        <div class="icon-container">
            <mat-icon>close</mat-icon>
        </div>
    </button>
    <button *ngIf="currentIndex > 0" [ngClass]="[largeCommandButtons ? 'large' : 'small', commandVisibility]" class="command previous" (click)="previous()" mat-button>
        <div class="icon-container">
            <mat-icon>chevron_left</mat-icon>
        </div>
    </button>
    <div [ngClass]="currentImgWith ? 'visible': 'hidden'" class="image-conainer" [ngStyle]="{'max-width.px': currentImgWith}">
        <img #dialogimage (load)="onImageLoaded()" [src]="smallScreen ? currentTile.url_m : currentTile.url_l" [ngStyle]="{'max-width.px': maxWidth, 'max-height.px': maxHeight}" />
        <div class="info-container">
            <div class="photo-info">
                <div>
                    <div class="photo-title">{{currentTile.title}}</div>
                    <div class="photo-tags">
                        <div *ngFor="let tag of currentTile.tags">&nbsp;#{{tag.value}}</div>
                    </div>
                </div>
                <div>
                    <div class="photo-views">
                        <span>{{currentTile.views}}</span>
                        <mat-icon aria-label="visibility" class="material-icons md-18">visibility</mat-icon>
                    </div>
                </div>
            </div>
            <div class="photo-date">
                <div class="date">{{(currentTile.lastupdate * 1000) | date : " MMMM d, y"}}</div>
            </div>
        </div>
    </div>
    <div [ngClass]="currentImgWith ? 'hidden' : 'visible'" class="image-loader-conainer">
        <svg version="1.1" id="loader-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 50 50" style="enable-background:new 0 0 50 50;" xml:space="preserve">
         <path fill="#000" d="M43.935,25.145c0-10.318-8.364-18.683-18.683-18.683c-10.318,0-18.683,8.365-18.683,18.683h4.068c0-8.071,6.543-14.615,14.615-14.615c8.072,0,14.615,6.543,14.615,14.615H43.935z">
           <animateTransform attributeType="xml"
             attributeName="transform"
             type="rotate"
             from="0 25 25"
             to="360 25 25"
             dur="0.6s"
             repeatCount="indefinite"/>
           </path>
         </svg>
    </div>
    <button *ngIf="data.hasMore" [ngClass]="[largeCommandButtons ? 'large' : 'small', commandVisibility]" class="command next" (click)="next()" mat-button>
        <div class="icon-container">
            <mat-icon>chevron_right</mat-icon>
        </div>
    </button>
</div>