<div class="dialog">
    <button [ngClass]="[largeCommandButtons ? 'large' : 'small', commandVisibility]" class="command close" (click)="close()" mat-button>
        <div class="icon-container">
            <mat-icon>close</mat-icon>
        </div>
    </button>
    <button *ngIf="currentIndex > 0" [ngClass]="[largeCommandButtons ? 'large' : 'small', commandVisibility]" class="command previous" (click)="previous()" mat-button>
        <div class="icon-container">
            <mat-icon>chevron_left</mat-icon>
        </div>
    </button>
    <div class="image-conainer" [hidden]="!currentImgWith" [ngStyle]="{'max-width.px': currentImgWith}">
        <img #dialogimage (load)="onImageLoaded()" [src]="smallScreen ? currentTile.url_m : currentTile.url_l" [ngStyle]="{'max-width.px': maxWidth, 'max-height.px': maxHeight}" />
        <div class="info-container">
            <div>
                <div class="photo-title">{{currentTile.title}}</div>
                <div class="photo-tags">
                    <div *ngFor="let tag of currentTile.tags">&nbsp;#{{tag}}</div>
                </div>
            </div>
            <div>
                <div class="photo-views">
                    <span>{{currentTile.views}}</span>
                    <mat-icon aria-label="visibility" class="material-icons md-18">visibility</mat-icon>
                </div>
                <div class="photo-date">{{(currentTile.lastupdate * 1000) | date : " MMMM d, y"}}</div>
            </div>
        </div>
    </div>
    <button *ngIf="data.hasMore" [ngClass]="[largeCommandButtons ? 'large' : 'small', commandVisibility]" class="command next" (click)="next()" mat-button>
        <div class="icon-container">
            <mat-icon>chevron_right</mat-icon>
        </div>
    </button>
</div>