/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background: black;
}

h1,
h3 {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
}

input:focus,
button:focus {
    outline: 0;
}

slideshow-dialog,
.cdk-overlay-pane {
    display: block;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}

.material-icons.md-18 {
    font-size: 18px;
}

.material-icons.md-24 {
    font-size: 24px;
}

.material-icons.md-36 {
    font-size: 36px;
}

.material-icons.md-48 {
    font-size: 48px;
}

.mat-chip-list-wrapper {
    position: relative;
    background-color: white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: calc(100% - 4px);
    margin: unset !important;
    padding: 2px;
    height: 36px;
}

.mat-form-field-wrapper,
.mat-form-field-infix {
    padding: 0 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    position: absolute;
    width: calc(100% - 10px);
    bottom: 1px !important;
    margin-left: 5px;
}

.mat-form-field.mat-focused .mat-form-field-ripple {
    background-color: #ffc107 !important;
}

.mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
}

.mat-chip-list-wrapper .mat-standard-chip,
.mat-chip-list-wrapper input.mat-input-element {
    margin: 2px !important;
}

.cdk-overlay-dark-backdrop {
    background-color: rgba(0, 0, 0, .588);
}

.mat-dialog-container {
    overflow: visible !important;
    padding: 0 !important;
    background-color: rgba(0, 0, 0, .388) !important;
}

slideshow-dialog.ng-star-inserted {
    background-color: transparent !important;
}

ngx-spinner .back-overlay {
    position: fixed;
    top: 0;
}


/* .autocomplete-container .mat-form-field-wrapper {
    padding-bottom: 0px;
    position: relative;
}

.autocomplete-container .mat-form-field-wrapper .mat-form-field-appearance-legacy .mat-form-field-underline {
    height: 1px;
    position: absolute;
    bottom: 0px;
} */