.search-results {
    margin-top: 161px;
    margin-left: 5px;
    margin-right: 5px;
}

.tags-container {
    position: absolute;
    bottom: 0;
}

.toolbar-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0px;
    width: calc(100% - 40px);
    z-index: 100;
    background-color: #ffc107;
    color: black;
    border-bottom: 2px solid black;
}

.toolbar-container h1,
.toolbar-container h3 {
    margin: 0;
    font-family: Raleway Arial, Helvetica, sans-serif
}

.toolbar-container h1 {
    line-height: 20px;
    font-weight: 900;
}

.toolbar-container h3 {
    font-weight: 100;
}

.photo-tile-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.photo-tile {
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 2px;
}

.photo-name {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    position: absolute;
    bottom: 0;
    color: white;
    width: calc(100% - 12px);
    padding: 5px;
    text-transform: capitalize;
    min-height: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
}

.photo-title {
    font-weight: 400;
    padding-top: 8px;
}

.photo-views {
    text-align: right;
    font-weight: 100;
}

.photo-views span {
    margin-right: 20px;
}

.photo-views mat-icon {
    font-size: 16px;
    position: absolute;
    right: 4px;
}

.photo-date {
    font-size: 10px;
    font-weight: 100;
}