.search-results {
    margin-top: 190px;
    margin-left: 5px;
    margin-right: 5px;
}

.photo-tile {
    cursor: pointer;
}

.tags-container {
    position: absolute;
    bottom: 0;
}

.toolbar-container {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    top: 0px;
    width: calc(100% - 40px);
    z-index: 100;
    background-color: #ffc107;
    color: black;
}

.toolbar-container h1,
.toolbar-container h3 {
    margin: 0;
    font-family: Raleway Arial, Helvetica, sans-serif
}

.toolbar-container h1 {
    line-height: 20px;
    font-weight: 900;
}

.toolbar-container h3 {
    font-weight: 100;
}