.search-results {
    margin: 20px;
}

.tags-container {
    position: absolute;
    bottom: 0;
}

.toolbar-container {
    padding: 20px;
}

.toolbar-container h1,
.toolbar-container h3 {
    margin: 0
}