.dialog {
    display: inline-block;
    height: 100%;
}

.dialog img {
    height: 100%;
    width: 100%;
}

.icon-container {
    position: relative;
    background-color: rgba(0, 0, 0, 0.8);
    width: 40px;
    height: 40px;
    color: white;
}

.command {
    position: absolute;
    padding: 0;
    top: 0px;
    height: calc(100% - 4px);
    background: transparent;
}

.command.small {
    width: 40px;
    min-width: 40px;
}

.command.small .icon-container {
    width: 40px;
    height: 40px;
}

.command.large {
    width: 60px;
    min-width: 60px;
}

.command.large .icon-container {
    width: 60px;
    height: 60px;
}

.command.next.large mat-icon,
.command.previous.large mat-icon {
    position: absolute;
    top: 19px;
}

.command.next.small mat-icon,
.command.previous.small mat-icon {
    position: absolute;
    top: 8px;
}

.command.next.large mat-icon,
.command.next.small mat-icon {
    left: 0px;
}

.command.previous.large mat-icon,
.command.previous.small mat-icon {
    right: 0px;
}

.command.next {
    right: 0px;
}

.command.previous {
    left: 0px;
}