.filter-container {
    padding: 20px;
    margin-top: 67px;
    min-height: 100px;
}

.filter-container .filter-selected {
    min-height: 70px;
}

.tag {
    cursor: pointer;
    min-height: 50px;
    min-width: 20px;
    border-radius: 10px;
    text-transform: capitalize;
    font-weight: 400;
}

.tag.genere_fotografico {
    background-color: #80cbc4;
}

.tag.regno {
    background-color: #4db6ac
}

.tag.phylum {
    background-color: #26a69a
}

.tag.classe {
    color: white;
    background-color: #009688
}

.tag.ordine {
    color: white;
    background-color: #00897b
}

.tag.famiglia {
    color: white;
    background-color: #00796b
}

.tag.specie {
    color: white;
    background-color: #00695c
}

.tag.nome_comune {
    color: white;
    background-color: #004d40
}