.filter-container {
    min-height: 90px;
    display: block;
    padding-top: 10px;
}

.filter-container .filter-selected {
    min-height: 45px;
    white-space: nowrap;
}

.filter-container .filter-to-select {
    white-space: nowrap;
}

.chip-list {
    display: block;
    overflow-x: auto;
}

.chip {
    display: inline-block;
    width: auto;
    margin-left: 5px;
}

.chip p {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag {
    color: white;
    background-color: #607d8b;
    cursor: pointer;
    min-height: 40px;
    min-width: 20px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 100;
    padding-left: 5px;
    padding-right: 5px;
}

.tag.last-selected {
    background-color: #455a64;
}

.tag .tag-name {
    display: flex;
}

.tag .tag-name .material-icons {
    margin-top: 10px;
}

.tag.genere_fotografico {}

.tag.regno {}

.tag.phylum {}

.tag.classe {}

.tag.ordine {}

.tag.famiglia {}

.tag.specie {}

.tag.nome_comune {}

.autocomplete-container {
    display: flex;
    background: #607d8b;
    border-radius: 20px;
    height: 30px;
    padding: 3px;
}

.autocomplete-input {
    color: white;
    background: #607d8b;
    flex: 1;
    margin-left: 10px;
    border: 0;
    height: 100%;
    line-height: 20px;
    font-size: 15px;
}

.autocomplete-input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.6;
    /* Firefox */
}

.autocomplete-input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
    opacity: 0.6;
}

.autocomplete-input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
    opacity: 0.6;
}

.small-button {
    color: white;
    position: relative;
    width: 40px;
    min-width: 40px;
    padding: 0;
}

.small-button mat-icon {
    position: absolute;
    top: 3px;
    left: 8px;
}