.filter-container {
    min-height: 90px;
    display: block;
    padding-top: 10px;
}

.filter-container .filter-selected {
    min-height: 45px;
    white-space: nowrap;
}

.filter-container .filter-to-select {
    white-space: nowrap;
}

.chip-list {
    display: block;
    overflow-x: auto;
}

.chip {
    display: inline-block;
    width: auto;
    margin-left: 5px;
}

.chip p {
    padding-left: 4px;
    padding-right: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.tag {
    color: white;
    background-color: #607d8b;
    cursor: pointer;
    min-height: 40px;
    min-width: 20px;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 100;
    padding-left: 5px;
    padding-right: 5px;
}

.tag.last-selected {
    background-color: #455a64;
}

.tag .tag-name {
    display: flex;
}

.tag .tag-name .material-icons {
    margin-top: 10px;
}

.tag.genere_fotografico {}

.tag.regno {}

.tag.phylum {}

.tag.classe {}

.tag.ordine {}

.tag.famiglia {}

.tag.specie {}

.tag.nome_comune {}